API_ID=
API_HASH=
BOT_TOKEN=

# Music Assistants (3 sessions)
STRING_SESSION1=
STRING_SESSION2=
STRING_SESSION3=

# Userbot sessions (Owner controlled - jitne chahiye add kar sakte ho)
USERBOT_SESSION1=
USERBOT_SESSION2=
USERBOT_SESSION3=

OWNER_ID=
MONGO_URI=
GEMINI_API_KEY=

LOGGER_ID=
SUPPORT_CHAT=
SUPPORT_CHANNEL=
